
@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ENTRE EM CONTATO CONOSCO</h1>
        <p class="lead text-muted mb-0">É um prazer para power tech receber seu contato!</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                </div>
                <div class="card-body">
                    <form action="mailto:powertec@gmail.com">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" name="subject"  class="form-control" id="name" aria-describedby="emailHelp" placeholder="Seu nome" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu email" required>
                            <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos seu email com ninguém.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea name="body" rows="5" cols="30" class="form-control" id="message" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Endereço</div>
                    <div class="card-body">
                        <p>Avenida paulista 102</p>
                        <p>São Paulo - SP</p>
                        <p>Brasil</p>
                        <p>Email :contato@powertech.com</p>
                        <p>Tel. +55 (11) 1621-1514</p>

                    </div>

                </div>
            </div>
        </div>
      
    </div>
    </div>
