@{
    ViewBag.Title = "Home Page";
}

<div class="header">


    <header class="header">
        <h1 style="font-size:40px;">Bem-vindo à PowerTec</h1>
        <h2>Transformando a Gestão de Software para Empresas</h2>

    </header>
    <div>
        <div>
        <!-- Carousel Default -->
        <section class="carousel-default">
            <div id="carousel-default" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-default" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-default" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-default" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- NOTE: Bootstrap v4 changes class name to carousel-item -->
                    <div class="item">
                        <img src="~/Content/img/sistema.jpg" style="filter: blur(5px);" alt="First slide">
                        <div class="carousel-caption">
                            <h3><b>Inovação em cada linha de código.</b></h3>
                            <p><b>Buscamos sempre a inovação dos nossos sistemas alinhados ao mercado</b></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/img/gestao.jpg" style="filter: blur(5px);" alt="Second slide">
                        <div class="carousel-caption">
                            <h3><b>Sistemas robustos, gestão eficaz.</b></h3>
                            <p><b>A gestão que sua empresa precisa</b></p>
                        </div>
                    </div>
                    <div class="item active">
                        <img src="~/Content/img/gestao2.jpg" style="filter: blur(5px);" alt="Third slide">
                        <div class="carousel-caption">
                            <h3><b>O poder da tecnologia a serviço da gestão</b></h3>
                            <p><b>Impulsionamos com o poder da tecnologia a sua gestão</b></p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-default" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#carousel-default" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </section>

        <!-- /end Carousel Default -->
        <!--<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="position-relative">
                <img src="~/Content/img/reuniao-corporativa.jpg" alt="Imagem de fundo" class="img-fluid mx-auto d-block" />-->
        @*<h1 class="text-lg-center">Este é um grande texto no meio da imagem</h1>*@
        <!--</div>
            </div>
        </div>
    </div>-->
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Nossa Proposta de Valor</h1>
                <p>Na PowerTec, oferecemos soluções de software sob medida para atender às necessidades exclusivas do seu negócio. Nossa equipe de especialistas em desenvolvimento de software utiliza as tecnologias mais avançadas para criar soluções personalizadas que impulsionam a eficiência, produtividade e inovação da sua empresa</p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-3">
                    <h2>Soluções Integradas</h2>
                    <p>Desenvolvemos software personalizado que permite à sua empresa interligar todos os sistemas, eliminando atrasos e erros na transferência de dados.</p>

                </div>
                <div class="col-md-3">
                    <h2>Eficiência e Precisão</h2>
                    <p>Nossos softwares, como calculadoras de folhas de pagamento, controle de ponto e recibos de férias, automatizam tarefas complexas, garantindo eficiência e precisão.</p>
                </div>
                <div class="col-md-3">
                    <h2>Experiência Comprovada</h2>
                    <p>Com uma equipe de colaboradores altamente capacitados, entregamos resultados excepcionais e ajudamos a impulsionar o sucesso da sua empresa.</p>
                </div>
                <div class="col-md-3">
                    <h2>Parceria de longo prazo</h2>
                    <p> Comprometemo-nos a substituir gradualmente os sistemas antigos da sua empresa pelo nosso, assegurando uma transição suave e colaborando de forma contínua para atender às suas necessidades.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

</div>
</div>