@{
    ViewBag.Title = "Home Page";
}


<div class="header">


    <header class="header">
        <h1 style="font-size:40px;">Bem-vindo à PowerTech</h1>
        <h2>Transformando a Gestão de Software para Empresas</h2>
     
    </header>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="position-relative">
                        <img src="~/Content/img/reuniao-corporativa.jpg" alt="Imagem de fundo" class="img-fluid mx-auto d-block" />
                        @*<h1 class="text-lg-center">Este é um grande texto no meio da imagem</h1>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Nossa Proposta de Valor</h1>
                <p>Na PowerTec, oferecemos soluções de software sob medida para atender às necessidades exclusivas do seu negócio. Nossa equipe de especialistas em desenvolvimento de software utiliza as tecnologias mais avançadas para criar soluções personalizadas que impulsionam a eficiência, produtividade e inovação da sua empresa</p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-3">
                    <h2>Soluções Integradas</h2>
                    <p>Desenvolvemos software personalizado que permite à sua empresa interligar todos os sistemas, eliminando atrasos e erros na transferência de dados.</p>

                </div>
                <div class="col-md-3">
                    <h2>Eficiência e Precisão</h2>
                    <p>Nossos softwares, como calculadoras de folhas de pagamento, controle de ponto e recibos de férias, automatizam tarefas complexas, garantindo eficiência e precisão.</p>
                </div>
                <div class="col-md-3">
                    <h2>Experiência Comprovada</h2>
                    <p>Com uma equipe de colaboradores altamente capacitados, entregamos resultados excepcionais e ajudamos a impulsionar o sucesso da sua empresa.</p>
                </div>
                <div class="col-md-3">
                    <h2>Parceria de longo prazo</h2>
                    <p> Comprometemo-nos a substituir gradualmente os sistemas antigos da sua empresa pelo nosso, assegurando uma transição suave e colaborando de forma contínua para atender às suas necessidades.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

