@{
    ViewBag.Title = "Home Page";
}


<div class="header">


    <header class="header">
        <h1 style="font-size:40px;">Bem-vindo à PowerTech</h1>
        <h2>Transformando a Gestão de Software para Empresas</h2>
     
    </header>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="position-relative">
                        <img src="~/Content/img/reuniao-corporativa.jpg"   alt="Imagem de fundo" class="img-fluid mx-auto d-block"/>
                        <h1 class="text-lg-center">Este é um grande texto no meio da imagem</h1>
                    </div>
                </div>
            </div>
        </div>

        <h1>Proposta de Valor</h1>
        <p>Transformando a Gestão de Software para Empresas</p>
        <section class="value-proposition">
            <h2>Nossa Proposta de Valor</h2>
            <ul>
                <li>Soluções Integradas: Desenvolvemos software personalizado que permite à sua empresa interligar todos os sistemas, eliminando atrasos e erros na transferência de dados.</li>
                <li>Eficiência e Precisão: Nossos softwares, como calculadoras de folhas de pagamento, controle de ponto e recibos de férias, automatizam tarefas complexas, garantindo eficiência e precisão.</li>
                <li>Experiência Comprovada: Com uma equipe de colaboradores altamente capacitados, entregamos resultados excepcionais e ajudamos a impulsionar o sucesso da sua empresa.</li>
                <li>Parceria de Longo Prazo: Comprometemo-nos a substituir gradualmente os sistemas antigos da sua empresa pelo nosso, assegurando uma transição suave e colaborando de forma contínua para atender às suas necessidades.</li>
            </ul>
        </section>


    </div>


</div>

