@model PowerTecWeb.tbFuncionario
@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<hr />
<script>


    function checkSenha() {
    let params = new URLSearchParams(document.location.search);
    let valid = params.get("valid"); // is the string "Jonathan"
        if (valid != null) {

            document.getElementById("senhainvalida").innerText = "Usuário/Senha inválidos.";

        } else {
            document.getElementById("senhainvalida").innerText= "";
        }
    }

    window.onload = checkSenha;

</script>
<div>
    <p class="text-center">Digite o seu nome de usuario e senha para estabelecer login</p>
    <div class="form-group col-md-2 col-md-offset-5 align-center ">
        @using (Html.BeginForm("VerificarLogin", "AreaColaborador", FormMethod.Post))
        {

            <label for="inputEmail" class="sr-only">Usuário</label>
            @*<input type="email" id="inputEmail" class="form-control" placeholder="Usuário" required autofocus>*@
            @Html.TextBoxFor(m => Model.Usuario, new { @class = "form-control ls-login-bg-user input-lg", name = "Usuario", id = "txtUsuario", placeholder = "Usuário", maxlength = "24" })
            <label for="inputPassword" class="sr-only">Senha</label>
            @Html.TextBoxFor(m => Model.Senha, new { @class = "form-control ls-login-bg-user input-lg", name = "Senha", id = "txtSenha", placeholder = "Senha", maxlength = "14", type = "password" })
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar usuário
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p id="senhainvalida"></p>


        }
    </div>
</div>


