@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>PORTAL DO COLABORADOR</h1>
    <br />
    <br />
    <h2>@Html.ActionLink("Clique aqui para acessar o Portal do Colaborador.", "LoginColaborador", "Home")</h2>
    <span>Um ambiente único de navegação simples onde você gerencia o seu dia a dia de colaborador Power Tec.</span>
</div>
