@{
    ViewData["Title"] = "Quem somos";
}
@*<div style="padding-top:4%">

    <section class="about">
        <h1>Sobre Nós</h1>
        <p>A PowerTech é uma empresa especializada em desenvolvimento de software, com mais de 3 anos de experiência no mercado. Somos líderes na criação de soluções para empresas, oferecendo serviços como cálculo de folhas de pagamento, controle de ponto, recibos de férias, exames médicos, contratos de trabalho e muito mais.</p>
    </section>

    <section class="services">
        <h2></h2>
        <ul>
            <li>Calculadora de Folhas de Pagamentos</li>
            <li>Controle de Ponto Avançado</li>
            <li>Recibos de Férias Personalizados</li>
            <li>Gerenciamento de Exames Médicos</li>
            <li>Contratos de Trabalho Digitais</li>
            <li>Integração de Sistemas</li>
        </ul>
    </section>

    <section class="projects">
        <h2>Nossos Projetos Recentes</h2>
        <p>Em 2022, a PowerTech foi escolhida pela empresa Mango's Contabilidade para desenvolver um sistema integrado que atende às necessidades deles. Estamos trabalhando na automação da folha de pagamento, o primeiro passo de um projeto maior que inclui integração de todos os sistemas da empresa.</p>
    </section>
</div>*@

<div class="container bootstrap snippets bootdey">
    <section id="services" class="current">
        <div class="services-top">
            <div class="container bootstrap snippets bootdey">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h1>O que oferecemos ?</h1>
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Nossos serviços </h2>
                        <p>Nossa <span class="highlight">experiente</span> e  <span class="highlight">dedicada</span> equipe disponibiliza esses serviços com um sorriso no rosto.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="services-list">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-calculator highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Calculadora de Folhas de Pagamentos</div>
                                            <div class="info">Deixe as calculadoras tradicionais para o passado</div>
                                            <div class="text">Nossas calculadoras fazem todos os calculos necessários para que a sua gestão de pessoas seja rapida,eficiente e acertiva</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-laptop highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Controle de Ponto</div>
                                            <div class="info">Facilite o dia a dia do gestor e funcionário</div>
                                            <div class="text">Com o software de controle de ponto da PowerTec você tem todas as infomações em um só lugar rápido e fácil</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-sun-o highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Recibos de Férias Personalizados</div>
                                            <div class="info">Agendou,Aprovou, Curtiu</div>
                                            <div class="text">Os recibos de férias personalizados são um dos serviços que facilitam tanto a vida de quem solicita quanto de quem precisa aprovar as férias,tudo com a facilidade e praticidade</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-link highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Integração de Sistemas</div>
                                            <div class="info">Desbloqueie o Poder da Integração de Sistemas</div>
                                            <div class="text">Na era digital, a agilidade é a chave para o sucesso. Sua empresa está pronta para atender às demandas em constante evolução do mercado? A integração de sistemas é a resposta. </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-paperclip highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Contratos de Trabalho Digitais</div>
                                            <div class="info">Modernize Seus Contratos de Trabalho com Contratos Digitais</div>
                                            <div class="text">Bem-vindo à era do trabalho inteligente e sem papel. Na PowerTEc, estamos liderando a revolução dos recursos humanos com nossos Contratos de Trabalho Digitais. Diga adeus à papelada interminável e à burocracia desnecessária e dê as boas-vindas à eficiência, segurança e conveniência. </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 