
@{
    ViewData["Title"] = "Area inicial colaborador";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
  <hr />

   
<div style="background-color:black; color:white; width: 100vw;">Meus Dados Pessoais</div>
<div style="float:left; width: 30%;">
    <ul>
        <li><a>Meu Cadastro</a></li>
        <li><a>Meus Chamados de Rh</a></li>
        <li><a>Meu Ponto</a></li>
        <li><a>Minhas Férias</a></li>
        <li><a>Meus Beneficios</a></li>
        <li><a>Meus Comprovantes de Pagamento</a></li>
        <li><a>Minhas Declarações / Atualizar Carteira de Trabalho</a></li>
    </ul>
</div>
<div>
    <div style="float:right; width:70%;"class="text-center">
        <img src="~/Content/img/user.png"  width="120" height="120"align="left"  />
        <div >
            <h2 style="padding-right:50%"> Antonio Benedito</h2>
            <p>
                Assistente Administrativo I
                <br /> antonio.benedito@powertec.com.br
                <br /> +55 11 3738-6559
               
            </p>
            <span style="position:relative; top:0px;left:8vw"> Na empresa desde 03/04/2021</span>
        </div>
    </div>


</div>

