
@{
    ViewData["Title"] = "Area inicial colaborador";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
  <hr />

   
<div style="background-color:black; color:white; width: 100vw;">Meus Dados Pessoais</div>
@*<div style="float:left; width: 30%;">
    <ul>
        <li><a>Meu Cadastro</a></li>
        <li><a>Meus Chamados de Rh</a></li>
        <li><a>Meu Ponto</a></li>
        <li><a>Minhas Férias</a></li>
        <li><a>Meus Beneficios</a></li>
        <li><a>Meus Comprovantes de Pagamento</a></li>
        <li><a>Minhas Declarações / Atualizar Carteira de Trabalho</a></li>
    </ul>
</div>*@


    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="//placehold.it/200" alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-primary">BUTTON</a>
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            Footer stating cats are CUTE little animals
        </div>
    </div>


